:root { 
	--main-color: #da511d; /*This color is for halloween*/
}

/* #9a58b5 <--- This is the default color*/

.profile {
	background-color: #121213 !important;
	margin-top: 0px !important;
	color: #fff !important;
}
.profile::before {
	content: "" !important;
	background-image: url(https://i.imgur.com/m3wmNgq.png) !important;
	background-color: transparent !important;
	width: 128px !important;
	height: 128px !important;
	position: absolute !important;
	border-radius: 50% !important;
	background-size: cover !important;
	margin-top: 80px !important;
        border: 3px solid var(--main-color);
        -webkit-animation-name: Floatingx;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-name: Floating;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: ease-in-out;
}
.logo.page {
    top: 0px;
    background-color: #121213;
    padding-top: 10px;
    padding-bottom: 0px;
    border-bottom: 2px solid var(--main-color);
    z-index: 10;
    position: fixed;
}
.logo {
    position: absolute;
    display: block;
    height: auto;
    width: 100%;
    top: 50px;
    text-align: center;
}
.logo.page #header {
    display: none;
}
.fadeInDown {
    visibility: visible !important;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.left-tabs {
    float: left;
    margin: 0 auto;
    position: absolute;
    margin-top: 12px;
    margin-left: 22%;
}
.tabb {
    color: #fff;
    font-size: 20px;
    height: 26px;
    transition: .2s border-bottom linear;
    float: left;
    margin-left: 23px;
    border-bottom: 2px solid transparent;
}
.logo.page img {
    height: 47px;
    margin-top: 3px;
}
.logo img {
    display: inline-block;
    height: 75px;
    width: auto;
}
.fadeInDown {
    visibility: visible !important;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.right-tabs {
    float: right;
    position: relative;
    margin-top: -38px;
    margin-right: 32%;
}
.tabb:hover {
    color: #fff;
    font-size: 20px;
    height: 26px;
    border-bottom: 2px solid var(--main-color);
}
.profilebotimage {
    visibility: hidden !important;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 8px);}
    65% {-webkit-transform:translate(0, 18px);}
    to {-webkit-transform: translate(0, 8px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 8px);}
    65% {-moz-transform:translate(0, 18px);}
    to {-moz-transform: translate(0, 8px);}    
}
#bottprefix {
    background: var(--main-color);
    width: 9%;
    margin: 0 auto;
    margin-top: 13px;
    border-radius: 3px;
    padding-bottom: 1px;
    border: 2px solid transparent !important;
    transition: .2s all linear;
    font-size: 1rem;
    padding: 3px 0px 4px 0px !important;
}
#bottprefix:hover {
	background: #121213;
	color: var(--main-color);
	border: 2px solid var(--main-color) !important;
	cursor: pointer;
}
#ownerthing {
	background: var(--main-color);
	color: #fff;
	border: 2px solid transparent !important;
	transition: .2s all linear;
}
#ownerthing:hover {
	background: #121213;
	color: var(--main-color);
	border: 2px solid var(--main-color) !important;
}
.profile h1 ~ .ui.label {
	display: none;
}
#upvotebutton {
	margin-bottom: 0px;
}
.ui.labeled.button:not(.icon) {
	border: 2px solid transparent !important;
	height: 44px;
}
.ui.labeled.icon.button>.icon,
.ui.labeled.icon.buttons>.button>.icon {
	background-color: rgba(0, 0, 0, .08);
}
.ui.labeled.icon.button {
	background: var(--main-color);
	color: #fff;
	border: 2px solid transparent;
	transition: .2s all linear;
}
.ui.labeled.icon.button:hover {
	background: #121213;
	border-color: var(--main-color);
	color: var(--main-color);
}
.ui.labeled.icon.button:hover>.icon {
	background: var(--main-color);
    border-radius: 0px;
    opacity: 0.8;
}
.ui.google.plus.button {
	background-color: #DD4B39;
	color: #FFF;
	border: 2px solid transparent;
	transition: .2s all linear;
}
.ui.google.plus.button:hover {
	background-color: #DD4B39;
	border-color: #e26556;
	color: #e26556;
}
.ui.labeled.icon.button:nth-child(1),
.ui.labeled.icon.button:nth-child(2) {
	display: none !important;
}
#shortDESU {
	color: #fff !important;
	width: 210px !important;
	font-family: monospace !important;
	overflow: hidden !important;
	border-right: .15em solid orange !important;
	white-space: nowrap !important;
	margin: 0 auto !important;
	letter-spacing: .15em !important;
	margin-top: 11px !important;
	margin-bottom: 11px !important;
	animation: typing 2.5s steps(30, end), blink-caret .7s step-end infinite !important;
}
@keyframes typing {
	from {
		width: 0
	}
	to {
		width: 210px !important;
	}
}
@keyframes blink-caret {
	from, to {
		border-right-color: transparent
	}
	50% {
		border-right-color: var(--main-color)
	}
}
.profile h1 {
	font-size: 0px;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	border-radius: 0px !important;
	background-color: #202020;
}
::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	border-radius: 0px !important
}
button[onclick="window.open('https://betterdocs.net', '_blank')"] {
	display: none !important;
}
button[onclick="window.open('https://discordapp.com/oauth2/authorize?client_id=353615282964791297&scope=bot&permissions=268528680', '_blank')"] {
	display: none !important;
}
.ui.labeled.button:not(.icon) {
	border: 2px solid transparent !important;
	height: 34px;
	top: 12px;
	position: fixed;
	z-index: 11;
	left: 69.5%;
	width: 85px;
}
.ui.positive.button {
	background: transparent;
	font-size: 20px !important;
	font-weight: 500 !important;
}
.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
	display: none;
}
#upvotebutton {
	margin-top: -14px !important;
	margin-left: -24px;
}
#upvotecounterprofile {
    color: #fff;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: 63px!important;
    position: absolute;
    height: 25px;
    width: 27px;
    font-size: 9px;
    margin-top: -7px!important;
    opacity: 1 !important;
}
.ui.basic[class*="right pointing"].label:before {
	display: none !important;
}
.column {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}
@media screen and (min-width: 769px) {
.columns:not(.is-desktop) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
}
.columns:last-child {
    margin-bottom: -0.75rem;
}
.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}
ul {
    list-style: none;
}
.bot-list-section {
    margin-top: 60px;
    padding: 0 20px;
    position: relative;
    margin-left: -42px;
}
.bot-card .content {
    box-shadow: 4px 4px 0 0 var(--main-color), inset 4px 4px 0 0 rgb(182, 150, 195), inset -4px -4px 0 0 #ae84bf !important;
    background: #121213 !important;
}
.bot-name {
    color: #ffffff !important;
}
.lib {
    color: #fff !important;
}
.bot-btns {
    border-top: 1px solid #1b1b1b !important;
}
.bot-description {
    color: var(--main-color) !important;
}
#footer, body {
    background: #121213 !important;
}
#footer {
    padding: 15px 4px 34px 0px;
    color: hsla(0,0%,100%,.6);
    position: relative;
    background: #171f26;
    max-width: 100% !important;
    width: 100%;
}
#footer, .intro-feature-icon {
    text-align: center;
}
.wrapper {
    max-width: 88.33%;
    margin: 0 auto;
}
.inner {
    padding: 0 20px;
}
@media screen and (min-width: 769px) {
#footer-copyright {
    float: left;
}
#footer-links {
    float: right;
    margin-top: 0;
}
#footer {
    text-align: left;
    margin-top: 10px;
}
}
#footer a {
    color: inherit;
    -webkit-transition: .2s;
    transition: .2s;
}
#footer a {
    text-decoration: none;
}
.footer-link:first-child {
    margin-left: 0;
}
.footer-link {
    font-size: 30px;
    margin-left: 20px;
}
#footer-copyright {
    line-height: 1.4;
}
.inner:after, .inner:before, .wrapper:after, .wrapper:before {
    content: "";
    display: table;
}
footer {
    border-top: 1px solid #292929 !important;
}
#footer a {
    font-size: 15px;
}
.bot-card {
    transition: .1s transform linear;
}
.bot-card:hover {
    transform: translateY(-10px);
}
.button {
    border-radius: 3px !important;
}
#site-header #site-nav a {
	display: none;
}
[href="/me"], [href="/login"] {
	display: initial !important;
	z-index: 11 !important;
        pointer-events: all;
}
#site-header {
	z-index: 12;
}
#site-header {
	background-color: transparent !important;
	pointer-events: none;
}
#site-header .site-header-toprow .site-logo {
	pointer-events: all;
}
.site-header-toprow .logotype img {
    visibility: hidden;
}
#site-header .site-header-toprow .site-logo .logotype {
    width: 44px;
    height: 44px;
    margin-top: -5px;
    margin-left: -8px;
    background-image: url(https://discordbots.org/images/logotrans.png);
    border: 2px solid var(--main-color);
    background-size: 70%;
    background-position: 6px 2px;
    border-radius: 50%;
    background-repeat: no-repeat;
    transition: border-radius .2s linear;
}
#site-header .site-header-toprow .site-logo .logotype:hover {
    border-radius: 25%;
}
#site-header #site-nav a {
    font-size: 20px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
#site-header #site-nav a {
    transition: .2s all linear;
}
#site-header #site-nav a:hover {
    text-shadow: 1px 2px 2px var(--main-color);
    color: #fff !important;
}
.ui.positive.button:hover, .ui.positive.buttons .button:hover {
	background-color: transparent;
}
[onclick="upvote()"] {
	background: transparent !important;
	font-size: 20px !important;
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
	font-weight: 200 !important;
	opacity: 0.75 !important;
        transition: opacity .2s linear;
}
[onclick="upvote()"]:hover {
	color: #fff !important;
	opacity: 1 !important;
}
hr.purp-line {
	width: 0%;
	border-color: var(--main-color) !important;
	animation: nothing 1s ease-in;
	animation-fill-mode: forwards;
}
.bot-descc-title {
	font-size: 40px;
	padding-top: 13px !important;
	padding-bottom: 13px;
}
@keyframes nothing {
	0% {
		width: 0%;
	}
	100% {
		width: 16%;
	}
}

.ui.label.purple, .ui.label.green, .ui.label.orange, .ui.label.grey {
    display: initial!important;
    border-radius: 50%;
    font-size: 3px;
    color: transparent!important;
    padding-top: 11px;
    margin-top: -81px!important;
    position: absolute;
    margin-left: 28px;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
	border: 2px solid var(--main-color)!important;
}
.ui.label.purple {
    background-color: #8423a5!important;
}
.ui.label.green {
	background-color: #21BA45!important;
}
.ui.label.orange {
	background-color: #F2711C!important;
}
.ui.label.red {
	background-color: #DB2828!important;
}
.ui.label.grey {
	background-color: #767676!important;
}
#site-header .site-header-toprow {
    box-shadow: 0 1px transparent;
}
.ui.label.blue {
    display: initial !important;
    left: 0px;
    top: 129px;
    position: fixed;
    z-index: 10;
    font-size: 1rem;
    padding: 11px;
    border-radius: 0px 3px 3px 0px;
    font-weight: 500;
	transform: translateX(-6px); 
	background-color: var(--main-color) !important;
	border: 2px solid transparent !important;
	transition: .2s all linear;
}
.ui.label.blue:hover {
	background-color: transparent !important;
	border: 2px solid var(--main-color) !important;
	color: var(--main-color) !important;
	transform: translateX(0px);
}
/* Testing */

.bot-card {
    box-shadow: 2px 1px 0px 6px var(--main-color);
}
.bot-card .content {
    box-shadow: 0px 0px 0px 4px rgba(244,244,244,0.2), 0px -1px 0px 4px rgba(244,244,244,0.2) !important;
    background: #121213 !important;
}
.column {
    padding: 0px 0px 0px 0px;
    margin-left: 20px;
    margin-bottom: 35px;
}
.columns.is-tablet {
    padding: 0px 17px 0px 35px;
}
.bot-card::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #121213;
    position: absolute;
    margin-left: 160px;
    margin-top: -10px;
    z-index: 1;
}
.bot-card::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    margin-left: 160px;
    margin-top: -10px;
    z-index: 1;
}
.bot-card::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #121213;
    position: absolute;
    margin-left: -165px;
    margin-top: 3px;
    z-index: 1;
}
.columns.is-tablet {
    padding: 0px 18px 0px 35px;
}

/* End of Testing */

.logo-page {
    height: 50px;
    width: 120px;
    margin: 0 auto;
}
svg:not(:root) {
    overflow: hidden;
    height: 50px;
    width: 120px;
}
[style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#9b59b6;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"] {
	fill: var(--main-color) !important;
}
[src*="/images/certifiedbot.png"] {
	display: none;
}
[d="M221.31,75.235c-8.573,0-15.551,6.984-15.551,15.564c0,3.361,1.102,6.46,2.929,9.003l-50.017,31.746l-34.574-52.017   c5.785-2.268,9.901-7.873,9.901-14.452c0-8.58-6.979-15.558-15.558-15.558s-15.558,6.978-15.558,15.558   c0,6.591,4.123,12.184,9.91,14.452l-34.918,52.534L28.178,99.823c1.827-2.551,2.938-5.65,2.938-9.024   c0-8.58-6.978-15.564-15.558-15.564S0,82.219,0,90.799s6.979,15.558,15.558,15.558c1.641,0,3.172-0.326,4.652-0.792l37.984,60.282   c0.861,1.358,2.35,2.192,3.967,2.192h112.574c1.607,0,3.093-0.834,3.958-2.192l37.983-60.282c1.486,0.466,3.021,0.792,4.652,0.792   c8.586,0,15.564-6.979,15.564-15.558S229.896,75.235,221.31,75.235z M118.434,58.868c3.416,0,6.211,2.789,6.211,6.211   c0,3.431-2.789,6.205-6.211,6.205s-6.205-2.774-6.205-6.205C112.223,61.663,115.012,58.868,118.434,58.868z M9.341,90.799   c0-3.422,2.783-6.211,6.205-6.211c3.422,0,6.205,2.789,6.205,6.211c0,3.431-2.783,6.205-6.205,6.205   C12.124,97.003,9.341,94.23,9.341,90.799z M172.128,158.687H64.722l-25.581-40.59l37.503,24.333   c2.159,1.395,5.033,0.797,6.442-1.34l35.336-53.158l34.964,52.61c1.419,2.118,4.256,2.733,6.405,1.364l38.167-24.227   L172.128,158.687z M221.31,97.01c-3.422,0-6.198-2.773-6.198-6.205c0-3.422,2.776-6.211,6.198-6.211   c3.423,0,6.211,2.789,6.211,6.211C227.521,94.23,224.733,97.01,221.31,97.01z M179.783,182.697c0,2.575-2.095,4.676-4.677,4.676   H61.756c-2.582,0-4.676-2.101-4.676-4.676c0-2.582,2.094-4.677,4.676-4.677h113.35C177.688,178.02,179.783,180.115,179.783,182.697   z"] {
    fill: var(--main-color);
	transform: rotate(30deg);
}
.certified-crown {
    top: 42px;
    position: absolute;
	-webkit-animation-name: Floatingx;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: Floating;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}
.ui.label>img[title*="Certified Developer"] {
    width: 0px !important;
    height: 0px !important;
    background-image: url(https://i.imgur.com/vts4mo0.png);
    background-size: 23px;
    padding: 16px;
    background-repeat: no-repeat;
    top: 4px !important;
    position: relative;
    left: 4px;
}
.bot-card::before {
    content: "";
    display: none;
}
.bot-card::after {
    content: "";
    display: none;
}
.ui.google.plus.button {
    background-color: #DD4B39;
    color: #FFF;
    text-shadow: none;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
    border-radius: 50% !important;
    font-size: 0px;
    height: 56px;
    width: 56px;
    background-image: url(https://i.imgur.com/fJGuhhP.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}
.ui.google.plus.button:hover {
    background-image: url(https://i.imgur.com/fJGuhhP.png) !important;
    border-color: #e26556;
    background-color: #e26556;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
#upvotecounterprofile {
z-index: 1;
opacity: 1 !important;
}
#upvotebutton {
z-index: -1;
opacity: 1 !important;
}
