//META{"name":"Discord_App_10","description":"Make Discord have a beautiful Windows 10 theme!","author":"Nightsanity","version":"1.0"}*//

.messages-wrapper, .theme-dark .channel-members, .guild-channels, .guilds-wrapper, .theme-dark .chat form .typing, .private-channels, .theme-dark .friends-table, .scroller.channel-members, .emoji-picker, .sticky-header, #friends .friends-table, .message-reactions-modal, .scroller-wrap.fade.light,.message-reactions-list-inner, .reactor, .theme-dark .messages-popout-wrap .messages-popout .message-group, .theme-dark .themed-popout .header, .theme-dark #friends, .theme-dark .chat>.content, .theme-dark .friends-table, .theme-dark .messages-wrapper, .theme-dark.context-menu, .theme-dark.context-menu .context-menu, .theme-dark .chat form, .user-popout .body, .user-popout .footer, .settings .settings-header, .theme-dark .channel-textarea-autocomplete-inner, .region-select-modal, .popout section, .form .form-header, .form .form-inner, .form .form-actions, #user-profile-modal .tab-bar-container, #user-profile-modal footer, #user-profile-modal .empty, #user-profile-modal .scroller, .settings-connections-wrapper .authed-app, .markdown-modal, .markdown-modal .markdown-modal-footer, .need-help-modal .footer, .create-guild-container .action
{
    background-color: #262524 !important;
}
.private-channels .channel:hover, .private-channels .channel.selected a, .guild-channels .channel-text:hover, .theme-dark .channel-members .member:hover, .guild-channels .channel-text.selected, .theme-dark #friends .friends-table .friends-row:hover, .tab-bar.SIDE .tab-bar-item.selected, .tab-bar.SIDE .tab-bar-item:hover, .theme-dark .channel-textarea-autocomplete-inner ul li.active, #settings-roles .roles li.selected, #settings-roles .roles li:hover, #user-profile-modal .guilds .guild:hover
{
    background: #0F0F0F !important;
}
.theme-dark .chat .title-wrap, .guild-header header, .scroller.guilds, .account, .theme-dark #friends .friends-header, .search-bar, .channel-textarea-inner, #voice-connection, .theme-dark .message-group .comment .markup code.inline, .theme-dark .themed-popout, .theme-dark.context-menu .item:hover, .chat .new-messages-bar, .chat>.title-wrap, .theme-dark .messages-wrapper .messages .divider span, .theme-dark .channel-textarea-autocomplete-inner header, .user-popout .header, .popout header, .note textarea:focus, .context-menu, .user-settings-streamer-mode, .user-settings-modal-games, code.hljs.md, code.hljs.ruby, code.hljs, code.hljs, .need-help-modal .header
{
    background-color: #0F0F0F !important;
}
.popout-menu .popout-menu-separator, .instant-invites .instant-invites-header, .channel-notification-settings, .guild-settings-modal-emoji .emoji-row, .guild-settings-modal-emoji .guild-settings-modal-emoji-header, .webhooks .webhooks-header, .form .form-header, .form .form-actions, #settings-roles .roles header, .tab-bar.TOP, .form hr, .markdown-modal .markdown-modal-header, .user-settings-modal-games .games-table .games-row .item-game, .user-settings-modal-games .games-table .games-row .item-overlay {
    border-bottom: 1px solid #2f2f2f !important;
}
.guild-settings-modal-members .guild-settings-modal-list .member .member-username, .modal-inner, .instant-invites .instant-invites-list .instant-invite .member, .guild-settings-modal-integrations .guild-settings-modal-integrations-body.no-integrations p, .has-value>.Select-control>.Select-placeholder, .form .Select-option, .modal-content .form-inner p, .guild-settings-modal-emoji .guild-settings-modal-emoji-header p, .guild-settings-modal-members .guild-settings-modal-members-header .form .Select .Select-value, .user-settings-modal-games .games-table .games-row .item-game .last-played, #user-profile-modal .header .header-info .header-info-inner .discord-tag {
    color: #aaaaaa !important;
}
.form .control-groups.control-separator, .guild-settings-modal-members .guild-settings-modal-list .member+.member, .form .form-actions, .instant-invites .instant-invites-list .instant-invite+.instant-invite, #user-profile-modal .guilds .section+.section, .markdown-modal .markdown-modal-footer, .user-settings-modal-games, .need-help-modal .footer {
    border-top: 1px solid #2f2f2f !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {border: 3px solid transparent !important;background-color: #333 !important;}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {border: 3px solid rgb(25, 25, 27) !important;background-color: #111113 !important;}
#user-profile-modal .scroller-wrap .scroller::-webkit-scrollbar{width:0px;}
.Select-menu-outer::-webkit-scrollbar, .Select-menu::-webkit-scrollbar {width: 0px;}
.user-popout .body .roles .member-roles::-webkit-scrollbar {width: 0px;}
.theme-dark .messages-wrapper .messages .divider.divider-red>span {color: #DD0000 !important;}
.theme-dark .messages-wrapper .messages .divider.divider-red>div {background: #DD0000 !important;opacity: .6 !important;}
.small-popout-box {background: #000 !important;border: 1px solid #111 !important;}
.scroller.channel-members>h2 {height: 36px !important;color: #ffffff !important;background: #0F0F0F !important;line-height: 36px;}
.channel-members h2 {letter-spacing: normal !important;}
.message-reactions-modal .message-reactions-reactors .reactor .name {box-shadow: none !important;color: #aaa !important;}
.private-channels .channel.selected:before {border-left: 2px solid #777 !important;}
.chat .new-messages-bar {top: 2px !important;}
.emoji-picker {border: 1px solid #1a1a1a !important;}
.flex-spacer.flex-vertical, .channel-members-wrap {box-shadow: -1px 0 0px #1a1a1a !important;} 
.flex-vertical.channels-wrap {border-right: solid 1px #1a1a1a !important;}
.account .btn, .search-bar .search-bar-inner, #voice-connection .btn {background-color: #1a1a1a !important;}
.theme-dark .chat .title-wrap {border-bottom: solid 2px #111 !important;}
.user-popout .footer {border-top: 1px solid #333 !important;}
.quick-message {border: 2px solid #2f2f2f  !important;background: #0F0F0F !important;color: #aaa !important;}
.user-popout .header, #user-profile-modal .header {background: url('https://i.imgur.com/u7lHZZ3.png') no-repeat !important;}
#user-profile-modal .header:after {background: url('https://i.imgur.com/u7lHZZ3.png') no-repeat !important;}
.theme-dark .channel-textarea-autocomplete-inner {border-color: #2f2f2f !important;}
.user-popout .avatar-wrapper .avatar-popout {border: 4px solid #fff !important;}
.popout-menu {background: #0f0f0f !important;}
.settings .settings-actions {background-color: #0f0f0f !important;border-top: 1px solid #2f2f2f !important;}
.settings .settings-inner {background-color: #0f0f0f !important;}
.form .control-group input[type=text] {color: #ccc !important;border-bottom: 1px solid #2f2f2f !important;}
.guild-settings-modal-members {background-color: #0f0f0f !important;}
.settings .settings-header {display: block !important;}
.tab-bar.SIDE {overflow-y: hidden !important;}
.guild-settings-modal-members .guild-settings-modal-members-header {border-bottom: none !important;}
.guild-settings-modal-members .guild-settings-modal-members-footer {border-top: none !important;}
#settings-roles .roles {border-right: 1px solid #2f2f2f !important;}
.member-roles .member-role {background-color: transparent !important;border: 1px solid #2f2f2f !important;}
.region-select .region-select-inner, .region-select button {border: 2px solid #2f2f2f !important;}
.form .control-group input[type=text] {color: #ffffff !important;border-bottom: none !important;background: #0F0F0F !important;border: solid 2px #2f2f2f !important;}
.Select-control {background-color: transparent !important;border: 2px solid #2f2f2f !important;}
.Select-menu-outer {background-color: #000 !important;border: 1px solid #2f2f2f !important;border-top-color: #2f2f2f !important;}
.guild-settings-modal-integrations .guild-settings-modal-integrations-header {border-bottom: 1px solid #2f2f2f;-webkit-box-shadow: none !important;box-shadow: none !important;}
.notification-settings-modal .notification-settings-modal-channel-settings-list {-webkit-box-shadow: 0 -1px #2f2f2f !important;box-shadow: 0 -1px #2f2f2f !important;}
.region-select-modal .region-select-modal-option:hover {border-color: #000 !important;-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.06);box-shadow: 0 1px 0 rgba(0,0,0,.06);}
.region-select-modal .region-select-modal-option {border: 2px solid #2f2f2f !important;background-color: #0f0f0f !important;}
#voice-connection-popout hr {border: 1px solid #2f2f2f !important;}
#voice-connection-popout, .user-popout {box-shadow: 0 0 1em black !important;}
.clipboard-input-inner {background: #ccc !important;border: 1px solid #2f2f2f !important;}
#instant-invite-modal .blurb {color: #fff !important;}
.tab-bar.TOP .tab-bar-item.selected {border-bottom: 2px solid #ffffff !important;color: #ffffff !important;}
#user-profile-modal .tab-bar-container {border-bottom: 1px solid #2f2f2f !important;}
input#settings-current-password {color: #aaa !important;background: transparent !important;border: solid 2px #2f2f2f;}
.Select-option:hover, .Select-option:active{color: #000000 !important;}
.settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-connections-list {-webkit-box-shadow: 0 -1px #2f2f2f !important;box-shadow: 0 -1px #2f2f2f !important;}
.settings-connections-wrapper .authed-app {border: none !important;}
.user-settings-security .btn-ghost {background: transparent !important;border: solid 2px #2f2f2f !important;}
.form .btn-default, #user-profile-modal .avatar-wrapper {background: transparent !important;}
input.game-input {color: #ffffff !important}
.need-help-modal .header input[type=text] {box-shadow: none !important;}
#user-profile-modal .guilds .section .connected-accounts .connected-account {border: solid 1px #2f2f2f;}
#user-profile-modal .tab-bar .tab-bar-item {color: #888 !important;}
.avatar-profile {border: solid 4px #ffffff !important;}
.guild-channels .channel-text.selected:before {border-left: 2px solid #fff !important;}
.message-group .edit-message h2, .message-group .edit-message .avatar-large  {display: none!important;}
.message-group .edit-message {margin: 6px -26px 0 -26px!important;}
.message-group-blocked{display: block !important;}
.avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge, .user-popout .avatar-wrapper .avatar-popout {-webkit-border-radius: 50% !important;border-radius: 50% !important;}
.markup .emoji.jumboable[src*="emojis"] {width: 32px !important;height: 32px !important;}
.avatar-large {width: 40px !important;height: 40px !important;-webkit-background-size: 40px 40px !important;-moz-background-size: 40px 40px !important;background-size: 40px 40px !important;}
strong.user-name {color: #CCCCCC;}
.member-username {color: #CCCCCC;}
span.reactions {display: block;}
